<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="POC-Dynamic Username">
    <parameter name="URL" value="https://stagingdemo.pestroutes.com/"/>
    <parameter name="PassWord" value="Pestroutes123"/>
    <test name="Original Office">
        <parameter name="UserName" value="mind"/>
        <classes>
             <class name="automation.PestRoutes.TestRunner.Miscellaneous.RegressionREX_TestRunner"/>
             <class name="automation.PestRoutes.TestRunner.Miscellaneous.RegressionADI_ACH_TestRunner"/>
        </classes>
    </test>
    <test name="Web Automation 1 - Office 14">
        <parameter name="UserName" value="mind14"/>
        <classes>
            <class name="automation.PestRoutes.TestRunner.Miscellaneous.RegressionADI_BST_TestRunner"/>
            <class name="automation.PestRoutes.TestRunner.Miscellaneous.RegressionADI_PST_TestRunner"/>
            <class name="automation.PestRoutes.TestRunner.Miscellaneous.RegressionFWhite_TestRunner"/>
        </classes>
    </test>
    <test name="Web Automation 2 - Office 16">
        <parameter name="UserName" value="mind16"/>
        <classes>
            <class name="automation.PestRoutes.TestRunner.Miscellaneous.RegressionFRK_TestRunner"/>
            <class name="automation.PestRoutes.TestRunner.Miscellaneous.RegressionARB_TestRunner"/>
        </classes>
    </test>
    <test name="Web Automation 3 - Office 17">
        <parameter name="UserName" value="mind17"/>
        <classes>
            <class name="automation.PestRoutes.TestRunner.Miscellaneous.RegressionADI_CR_TestRunner"/>
            <class name="automation.PestRoutes.TestRunner.Miscellaneous.RegressionADI_MISC_TestRunner"/>
        </classes>
    </test>
</suite>

<!--
<test name="Execute Feature Files">
<classes>
    <class name="automation.PestRoutes.TestRunner.FeatureFiles.RunAdmin"> </class>
    <class name="automation.PestRoutes.TestRunner.FeatureFiles.RunAppointment"> </class>
    <class name="automation.PestRoutes.TestRunner.FeatureFiles.RunCustomerCard"> </class>
    <class name="automation.PestRoutes.TestRunner.FeatureFiles.RunCustomerPortal"> </class>
    <class name="automation.PestRoutes.TestRunner.FeatureFiles.RunMiscellaneous"> </class>
    <class name="automation.PestRoutes.TestRunner.FeatureFiles.RunReport"> </class>
    <class name="automation.PestRoutes.TestRunner.FeatureFiles.RunScheduling"> </class>
    <class name="automation.PestRoutes.TestRunner.FeatureFiles.RunTriggerRules"> </class>
</classes>
</test>
-->